@keyframes fadeinlinear {
  from { opacity: 0; transform:translateY(10px); }
  to   { opacity: 1; transform:translateY(0);}
}

@keyframes fadein {
  0% {opacity:0;}
  20% {opacity:1;}
  80% {opacity:1;}
  100% {opacity:1;}
}
@keyframes slideinfromtop {
  0% { margin-top:-34px; opacity:0;}
  20% { margin-top:-34px; opacity:0;}
  35% { margin-top:0px;opacity:1; }
  100% { margin-top:0px; }
}

@keyframes slideinfromleft {
  0% { margin-left:-800px; opacity:0;}
  20% { margin-left:-800px; opacity:0;}
  35% { margin-left:0px; opacity:1;}
  100% { margin-left:0px; }
}

// @keyframes reveal {
//   0% {opacity:0;width:0px;}
//   20% {opacity:1;width:0px;}
//   30% {width:100%;}
//   80% {opacity:1;}
// }