%animate {
  -webkit-transition: .4s cubic-bezier(.175,.885,.32,1.275).8s;
  -moz-transition: .4s cubic-bezier(.175,.885,.32,1.275).8s;
  -o-transition: .4s cubic-bezier(.175,.885,.32,1.275).8s;
  transition: .4s cubic-bezier(.175,.885,.32,1.275).8s;
}
%cool-parallax {
  width: 100%;
  height: 100vh;
}
%underline {
  & {
    display: inline;
    position: relative;
    overflow: hidden;
  }
  &:after {
    content: "";
    position: absolute;
    z-index: 2;
    right: 0;
    width: 0;
    bottom: -5px;
    background: $themeColor2;
    height: 2px;
    transition-property: width;
    transition-duration: 0.3s;
    transition-timing-function: ease-out;
  }
  &.active:after,
  &:hover:after,
  &:focus:after,
  &:active:after {
    left: 0;
    right: auto;
    width: 100%;
  }
}
%fontStyleMontserrat {
  font-family: 'Montserrat', sans-serif;
  font-size: 12px;
  font-weight:400;
  @include mobile() {font-size: 13px;}
  
  @include desktop() {font-size: 13px;}
  @include desktop-xlarge() {font-size: 14px;}
  // letter-spacing: 0.0475px;
  letter-spacing: 0.095em;
  line-height: 1em;
}
%fontStyleRubik {
  font-family: 'Rubik', sans-serif;
  font-size: 10px;
  font-weight:300;
  @include mobile() {font-size: 12px;}

  @include desktop() {font-size: 12px;}
  @include desktop-xlarge() {font-size: 13px;}
  @include desktop-xxlarge() {font-size: 14px;}
  line-height: 1.6em;
  letter-spacing: 0.025em;

}