$themeColor: black;
$themeColorDarker: black;

// $themeColor2: rgb(239,174,143);
// $themeColor2Main: rgb(99, 142, 163);
$themeColor2: #efad8f; // headline
$themeColor2Main: #638ea3; // subcopy


$themeBackgroundColor: rgb(235, 235, 235);