@import 'nav';
body {
  font-family: 'Montserrat', sans-serif;
  // font-family: 'Rubik', sans-serif;
}
main {
  overflow-x: hidden;
  // background-color: white;
  color: $themeColor2Main;
  max-width: 620px;
  padding: 0 30px;
  margin: 0 auto;
}
a, a:hover, a:visited {
  color: $themeColor2Main;
}
section {
  position: relative;
  // max-width: 1440px;
  margin: 0 auto;
  &:after {
    content: "";
    display: table;
    clear: both;
  }
  > * {
    position: relative;
    z-index: 200;
    &.section-left {
      float: left;
      width: 360/14.40 + %;
    }
    &.section-right {
      float: right;
      width: 956/14.40 + %;
      margin-top: 20px;
      margin-bottom: 40px;
    }
    .section-wrap {
      display: block;
      text-align: right;
      padding-right: 20px;
    }
  }
  p {
    @extend %fontStyleRubik;
    padding: 0;
    width: 100%;
    margin: 0 0 14px 0;
  }
  h2 {
    @extend %fontStyleMontserrat;
    color: $themeColor2;
    @include transition(.5s, cubic-bezier(.77,0,.175,1), 0s);
    margin-top: 10px;
    opacity: 0;
    // color: $themeColor2;
    &.animate {
      margin-top: 0;
      opacity: 1;
    }
    &.static {
      opacity: 1;
      margin: 0;
      padding-bottom: 19px;
    }
  }
  .line {
    &:after {
      content: '';
      display: inline-block;
      width: 0;
      background: $themeColor2Main;
      height: 2px;
      margin: 0 auto 15px auto;
      @include transition(.5s, cubic-bezier(.77,0,.175,1), 0s);
    }
    &.animate {
      // width: 0;
      &:after {
        width: 26px;
        // transform: translateX(-50%);
      }
    }
  }
  &.section {
    @import 'sectionVideo';
    @import 'sectionMain';
    @import 'sectionAbout';
    @import 'sectionServices';
    @import 'sectionPrincipals';
    @import 'sectionClients';
    @import 'sectionContacts';
  }
}