@import 'nav';
body {
  font-family: 'Montserrat', sans-serif;
}
a, a:hover, a:visited {
  color: $themeColor2Main;
}
main {
  -webkit-animation: fadeinlinear 1500ms ease-in;
  animation: fadeinlinear 1500ms ease-in;
  
  overflow-x: hidden;
  color: $themeColor2Main;
  max-width: 620px;
  @include desktop-large() {
    width: 620/12.80 + %;
    max-width: 740px;
  }
  @include desktop-xlarge() {max-width: 800px;}
  @include desktop-xxlarge() {max-width: 900px;}

  padding: 0 30px;
  margin: 0 auto;
  @include mobile() {
    padding: 0 10px;
  }
}

section {
  position: relative;
  margin: 0 auto;
  &:after {
    content: "";
    display: table;
    clear: both;
  }
  > * {
    position: relative;
    z-index: 200;
    &.section-left {
      float: left;
      width: 22%;
      @include mobile() {width:26%}
    }
    &.section-right {
      float: left;
      width: 78%;
      margin-top: 20px;
      margin-bottom: 40px;
      padding-left: 50px;
      box-sizing: border-box;
      @include mobile() {
        padding-left: 0;
        width:74%;
      }
    }
    .section-wrap {
      display: block;
      text-align: right;
      padding-right: 20px;
    }
  }
  p {
    @extend %fontStyleRubik;
    padding: 0;
    width: 100%;
    margin: 0 0 16px 0;
  }
  h2 {
    @extend %fontStyleMontserrat;
    color: $themeColor2;
    @include transition(.5s, cubic-bezier(.77,0,.175,1), 0s);
    margin-top: 10px;
    opacity: 0;
    &.animate {
      margin-top: 0;
      opacity: 1;
    }
    &.static {
      opacity: 1;
      margin: 0;
      padding-bottom: 19px;
    }
  }
  .line {
    &:after {
      content: '';
      display: inline-block;
      width: 0;
      // width: 26px;
      background: $themeColor2Main;
      height: 2px;
      margin: 0 auto 15px auto;
      @include transition(.5s, cubic-bezier(.77,0,.175,1), 0s);
    }
    &.animate {
      &:after {
        width: 26px;
      }
    }
  }
  &.section {
    @import 'sectionVideo';
    @import 'sectionMain';
    @import 'sectionAbout';
    @import 'sectionServices';
    @import 'sectionPrincipals';
    @import 'sectionClients';
    @import 'sectionContacts';
  }
  .section {
    @import 'sectionAnimation';
  }
}

@import 'mobile';