&-clients {
  display: none;
  width: 100%;
  padding-top: 230px;
  padding-bottom: 230px;
  h2 {
    color: $themeColor2;
  }
  .line {
    padding-top: 30px;
    padding-bottom: 22px;
  }
  p {
    padding: 0;
    margin: 0;
  }
  .client-list {
    // font-size: 15px;
    font-size: 10px;
    line-height: 30px;
    letter-spacing: 0.025em;
    &-left {
      float: left;
      width: 67%;
    }
    &-right {
      float: right;
      width: 33%;
    }
  }
}