&-principals {
  display: none;
  width: 100%;
  padding-top: 100px;
  padding-bottom: 100px;
  h2 {
    color: $themeColor2;
  }
  p {
    padding: 0;
    margin: 0 0 14px 0;
  }
  .section-left {
    .line {
      // opacity: 0;
    }
  }
  .principals-sub {
    padding-top: 33px;
    
    &:first-child {
      padding-top: 48px;
    }
    h3 {
      @extend %fontStyleRubik;
      font-weight: 400;
      margin-bottom: 0.5rem;
    }
  }
  .section-right {
    .principals-sub {
      &:first-child {
        padding-top: 0;
      }
    }
  }
}