&-main {
  &.ani-1 {
    .section-right {
      p {
        overflow: hidden;
        // animation: breakword 12s;
        // animation-iteration-count: 1;
        .first {
          animation: fadein 4s;
          animation-iteration-count: 1;
          background: white;
          z-index: 98;
          position: relative;
        }
        .second {
          animation: slideinfromleft 12s;
          animation-iteration-count: 1;
        }
      }
    }
  }
  &.ani-2 {
    .section-right {
      p {
        background: white;
        position: relative;
        @for $i from 1 through 10 {
          &:nth-child(#{$i}) {
            z-index: #{100 - $i};
            @if $i == 1 {
              animation: fadein 5s;
            } @else {
              animation: slideinfromtop #{5 + $i*0.5}s;
            }
            animation-iteration-count: 1;  
          }
        }
      }
    }
  }
}
