&-services {
  .services-list {
    position: relative;
    width: 100%;
    > div {
      width: 50%;
      float: left;
    }
    h4 {
      // font-weight: 800;
      margin-bottom: 0.5rem;
      color: $themeColor2;
    }
  }
}