&-main {
  &.ani-1 {
    .section-right {
      p {
        overflow: hidden;
        .first {
          animation: fadein 8s;
          animation-iteration-count: 1;
          background: white;
          z-index: 98;
          position: relative;
        }
        .second {
          animation: slideinfromleft 8s;
          animation-iteration-count: 1;
        }
      }
    }
  }
  &.ani-2 {
    .section-right {
      p {
        background: white;
        position: relative;
        &:nth-child(1) {
          z-index: 99; 
          animation: fadein 5s;
          animation-iteration-count: 1;
        }
        &:nth-child(2) {
          z-index: 98; 
          animation: slideinfromtop 5s;
          animation-iteration-count: 1;
        }
        &:nth-child(3) {
          z-index: 97; 
          animation: slideinfromtop 6s;
          animation-iteration-count: 1;
        }
        &:nth-child(4) {
          z-index: 96; 
          animation: slideinfromtop 6.5s;
          animation-iteration-count: 1;
        }
        &:nth-child(5) {
          z-index: 96; 
          animation: slideinfromtop 7s;
          animation-iteration-count: 1;
        }
      }
    }
  }
}
