&-contacts {
  display: none;
  width: 100%;
  padding-top: 230px;
  padding-bottom: 230px;
  h2 {
    color: $themeColor2;
  }
  .section-right {
    margin-top: 0;
  }
  .contact-form {
    font-size: 10px;
    line-height: 16px;
    letter-spacing: 0.025em;
    width: 100%;
    max-width: 400px;
    padding-top: 14px;
    padding-bottom: 0;
    .vl-name {
      font-size: 12px;
    }
    div {
      &.vl-name, 
      &.vl-email, 
      &.vl-phone {
        display: inline;
      }
    }
    input,
    textarea {
      color: $themeColor2Main;
      display: block;
      padding: 10px;
      width: 100%;
      margin-top: 10px;
      margin-bottom: 10px;
      border: 1px solid $themeColor2Main;
      box-sizing: border-box;
    }
    textarea {
      resize: none;
    }
    .emailSubmit {
      color: white;
      background-color: $themeColor2Main;
      font-size: 10px;
      line-height: 16px;
      letter-spacing: 0.025em;
      padding: 0 6px;
    }
  }
}