&-services {
  padding-top: 6px;
  padding-bottom: 620px;
  .services-list {
    position: relative;
    width: 100%;
    p {
      // line-height: 2em;
    }
    > div {
      float: left;
      width: 60%;
      &:first-child {
        width: 38%;
        padding-right: 2%;
      }
    }
    h4 {
      @extend %fontStyleRubik;
      font-weight: 400;
      margin-bottom: 0.5rem;
    }
  }
}