&-clients {
  display: none;
  width: 100%;
  padding-top: 100px;
  padding-bottom: 230px;
  h2 {
    color: $themeColor2;
  }
  p {
    padding: 0;
    margin: 0;
  }
  .section-right {
    p {
      padding-bottom: 48px;
    }
  }
  .client-list {
    font-size: 10px;
    line-height: 30px;
    letter-spacing: 0.025em;
    .line {
      padding-top: 30px;
      padding-bottom: 22px;
    }
    &-left {
      float: left;
      width: 67%;
    }
    &-right {
      float: right;
      width: 33%;
    }
    @include mobile() {
      &-left, &-right {
        width: 100%;
      }
    }
  }
}