/* Style Initializer */
html,
body {
  margin: 0;
  padding: 0;
}
ul {
  list-style: none;
}
h1, h2, h3, h4 {
  margin: 0;
}
section, p, ul, li {
  padding: 0;
}

@import 'global/global';
@import 'components/components';
