// @import 'local/local';
@import 'components/components';

html,
body {
  margin: 0;
  padding: 0;
}

ul {
  list-style: none;
}

// @include type(disclaimer);
// @include mqm() {
//     margin-left: auto;
//     margin-right: auto;
// }

